.cart-container {
  padding: 2rem;
}

.cart-container h1 {
  margin-bottom: 20px;
}

.empty {
  font-size: 18px;
  color: gray;
}

/* GRID */
.cart-grid {
  display: flex;
  gap: 20px;
}

/* LEFT ITEMS */
.cart-items {
  flex: 3;
}

.cart-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #fff;
}

/* IMAGE */
.cart-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* INFO */
.cart-info {
  flex: 2;
}

.product-name {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.product-name:hover {
  color: #2874f0;
}

.price {
  color: green;
  margin: 5px 0;
}

/* QUANTITY */
.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box a {
  padding: 5px 10px;
  background: #eee;
  text-decoration: none;
  border-radius: 5px;
}

/* REMOVE */
.remove-btn {
  color: red;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
}

/* TOTAL */
.cart-total {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* RIGHT SIDE */
.cart-summary {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  background: #fafafa;
}

.checkout-btn {
  display: block;
  margin-top: 15px;
  background: orange;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

/* 📱 MOBILE RESPONSIVE */
@media(max-width: 768px) {
  .cart-grid {
    flex-direction: column;
  }

  .cart-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-img img {
    width: 100%;
    height: auto;
  }

  .cart-total {
    margin-top: 10px;
  }
}

.save-btn {
  display: inline-block;
  margin-top: 5px;
  color: #2874f0;
  text-decoration: none;
  font-size: 14px;
}

.saved-inside-cart {
  margin-top: 30px;
}

.saved-row {
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.saved-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.move-all-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: #2874f0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}